services:
  postgres:
      image: postgres:latest
      env_file:
          - .env
      environment:
          - POSTGRES_DB=${DB_NAME}
          - POSTGRES_USER=${DB_USER}
          - POSTGRES_PASSWORD=${DB_PASSWORD}
      volumes:
          - postgres_data:/var/lib/postgresql
      networks:
          - mired
      healthcheck:
          test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
          interval: 10s
          timeout: 5s
          retries: 5

  alumnos-service:
      build: .
      deploy:
          replicas: 1
      ports:
          - "8000:8000"
      depends_on:
          postgres:
              condition: service_healthy
      env_file:
          - .env
      environment:
          - DB_HOST=postgres
          - DEBUG=False
          - ALLOWED_HOSTS=alumnos.universidad.localhost,localhost
      networks:
          mired:
              aliases:
                  - alumnos.universidad.localhost
      labels:
          - "traefik.enable=true"
          - "traefik.docker.network=mired"
            # Router configuration
          - "traefik.http.routers.alumnos-service.rule=Host(alumnos.universidad.localhost)"
          - "traefik.http.routers.alumnos-service.entrypoints=https"
          - "traefik.http.routers.alumnos-service.tls=true"
          - "traefik.http.routers.alumnos-service.middlewares=alumnos-cb,alumnos-retry"
            # Service configuration
          - "traefik.http.services.alumnos-service.loadbalancer.server.port=8000"
          - "traefik.http.services.alumnos-service.loadbalancer.healthcheck.path=/health/"
          - "traefik.http.services.alumnos-service.loadbalancer.healthcheck.interval=10s"
            # Circuit Breaker middleware
          - "traefik.http.middlewares.alumnos-cb.circuitbreaker.expression=ResponseCodeRatio(500, 600, 0, 600) > 0.25 || NetworkErrorRatio() > 0.5"
            # Retry middleware
          - "traefik.http.middlewares.alumnos-retry.retry.attempts=4"
          - "traefik.http.middlewares.alumnos-retry.retry.initialinterval=100ms"

volumes:
    postgres_data:

networks:
    mired:
       external: true